<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

  </head>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <body ng-app="NarrowItDownApp">
   <div class="container-fluid" style="margin-left:20px;" ng-controller="NarrowItDownController as ndCtrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="row">
	   <div class="col-lg-12">
           <input type="text" placeholder="search term" class="form-control" ng-model="ndCtrl.searchItem">
           <button class="btn btn-primary" ng-click="ndCtrl.getMatchedMenuItems();">Narrow It Down For Me!</button>
	  </div>
    </div>
	
    <found-items items="ndCtrl.found" 
	             title="{{ndCtrl.title}}" 
				 on-remove="ndCtrl.removeItem(index)"></found-items>
				 
	<div class="row">
       {{ndCtrl.message}}
    </div>
	
  </div>

</body>
</html>
